* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #f1f1f1;
  height: 62px;
  padding: 15px 20px;
  border-bottom: 1px solid #edeaed;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  height: 28px;
  width: 125px;
  flex-shrink: 0;
}

.logo img {
  height: 100%;
}


/* Search Component */

.Search {
  display: flex;
}

.Search__input {
  width: 590px;
  height: 32px;
  border: 1px solid #cac9cc;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.Search__button {
  width: 60px;
  background-color: #4886f3;
  border: 1px solid #4f84d7;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #fff;
  cursor: pointer;
  height: 32px;
  font-size: 12px;
}


/* Results Component */

.Results {
  padding: 10px 0 30px 146px;
}

.Item {
  padding: 10px;
  width: 590px;
}

.Item__title {
  font-size: 16px;
  color: #331cb5;
  text-decoration: none;
}

.Item__title:hover {
  text-decoration: underline;
}

.Item__url {
  font-size: 14px;
  color: #006621;
}

.Item__title, .Item__url {
  margin-bottom: 2px;
}

.Item__snippet {
  font-size: 13px;
  color: #6a6a6a;
}

.Item__snippet .searchmatch {
  font-weight: bold;
}